:root{
    --sizeX: 18;
    --sizeY: 10;
    --fontSize: 3em;
}
body{
    margin: 0;
}
#container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template:6fr 4fr / 80vw 20vw;
}
.view{
    border: solid;
}
#mainSec{
    border: 0px;
    grid-row: 1 / 3; 
}
canvas{
    display: block;
}
#scoreSec{
    font-size: 6vmin;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#controlsSec{
    display: grid;
    grid-template: repeat(6 , 1fr) / repeat(4 , 1fr);
}
#controlsSec label{
    font-size: 5vmin;
    text-align: center;
    margin: auto;

    grid-column: 1 / 3;
}
.button{
    font-size: 6vmin
}
.inputNumber{
    width: 5vw;
    margin: 0.5vw;
    grid-column: 3 / 5;

    font-size: 5vmin;
}
#rightButton{
    grid-column: 3 / 5;
}
#leftButton{
    grid-column: 1 / 3;
}
#upButton{
    grid-column: 2 / 4;
}
#downButton{
    grid-column: 2 / 4;
}
#resetButton{
    grid-column: 1 / 5;
}
.fullCell{
    background-color: #bb2121;
}