body{
    margin: 0;
}
#container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template: 1fr 1fr / 80vw 20vw;
}
.view{
    border: solid;
}
#mainSec{
    border: 0px;
    grid-row: 1 / 3; 
    grid-column: 1 / 2;
}
canvas{
    display: block;
    touch-action: none;
}
#scoreSec{
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#controlsSec{
    display: grid;
    grid-template: repeat(6 , 1fr) / repeat(4 , 1fr);
}
#controlsSec label{
    font-size: 5vmin;
    text-align: center;
    margin: auto;

    grid-column: 1 / 3;
}
@media screen and (orientation:portrait) {
    #container{
        display: grid;
        grid-template: 60vh 40vh / 1fr 1fr ;
    }
    #mainSec{
        grid-row: 1 / 2; 
        grid-column: 1 / 3;
    }
  }
.button{
    font-size: 6vmin;
}
.inputNumber{
    width: 5vw;
    margin: 0.5vw;
    grid-column: 3 / 5;

    font-size: 5vmin;
}
#rightButton{
    grid-column: 3 / 5;
}
#leftButton{
    grid-column: 1 / 3;
}
#upButton{
    grid-column: 2 / 4;
}
#downButton{
    grid-column: 2 / 4;
}
#resetButton{
    grid-column: 1 / 5;
}
.fullCell{
    background-color: #bb2121;
}